MONGODB_URL=mongodb://mongodb:27017/dvinyl # MongoDB connection URL (you can change if needed)

PASSJWT=SomeComplexPassword
SESSION_SECRET=AnotherComplexSecret

# HTTPS Configuration
PROD=false # Change to true ONLY if you use HTTPS. If not, leave as false.

# DVinyl
VINYL_PORT=3099 # Port for the DVinyl service
BASE_URL= # Base URL for serving on a sub-path, leave empty to serve from root (default)

DISCOGS_TOKEN=YourDiscogsAPITokenHere

HARDCOVER_API_KEY=YourHardcoverAPIKeyHere

TMDB_API_KEY=YourTMDBAPIKeyHere
TWITCH_CLIENT_ID=YourTwitchClientIDHere
TWITCH_CLIENT_SECRET=YourTwitchClientSecretHere
